In [15]:
%pip install langchain_community

Requirement already satisfied: langchain_community in c:\users\kaari\desktop\analyix\venv\lib\site-packages (0.3.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: PyYAML>=5.3 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from langchain_community) (6.0.2)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from langchain_community) (2.0.34)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from langchain_community) (3.10.5)
Requirement already satisfied: dataclasses-json<0.7,>=0.5.7 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from langchain_community) (0.6.7)
Requirement already satisfied: langchain<0.4.0,>=0.3.0 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from langchain_community) (0.3.0)
Requirement already satisfied: langchain-core<0.4.0,>=0.3.0 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from langchain_community) (0.3.0)
Requirement already satisfied: langsmith<0.2.0,>=0.1.112 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from langchain_community) (0.1.120)
Requirement already satisfied: numpy<2.0.0,>=1.26.0 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from langchain_community) (1.26.4)
Requirement already satisfied: pydantic-settings<3.0.0,>=2.4.0 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from langchain_community) (2.5.2)
Requirement already satisfied: requests<3,>=2 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from langchain_community) (2.32.3)
Requirement already satisfied: tenacity!=8.4.0,<9.0.0,>=8.1.0 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from langchain_community) (8.5.0)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (2.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (24.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (6.1.0)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.11.1)
Requirement already satisfied: marshmallow<4.0.0,>=3.18.0 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from dataclasses-json<0.7,>=0.5.7->langchain_community) (3.22.0)
Requirement already satisfied: typing-inspect<1,>=0.4.0 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from dataclasses-json<0.7,>=0.5.7->langchain_community) (0.9.0)
Requirement already satisfied: langchain-text-splitters<0.4.0,>=0.3.0 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from langchain<0.4.0,>=0.3.0->langchain_community) (0.3.0)
Requirement already satisfied: pydantic<3.0.0,>=2.7.4 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from langchain<0.4.0,>=0.3.0->langchain_community) (2.9.1)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from langchain-core<0.4.0,>=0.3.0->langchain_community) (1.33)
Requirement already satisfied: packaging<25,>=23.2 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from langchain-core<0.4.0,>=0.3.0->langchain_community) (24.1)
Requirement already satisfied: typing-extensions>=4.7 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from langchain-core<0.4.0,>=0.3.0->langchain_community) (4.12.2)
Requirement already satisfied: httpx<1,>=0.23.0 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from langsmith<0.2.0,>=0.1.112->langchain_community) (0.27.2)
Requirement already satisfied: orjson<4.0.0,>=3.9.14 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from langsmith<0.2.0,>=0.1.112->langchain_community) (3.10.7)
Requirement already satisfied: python-dotenv>=0.21.0 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from pydantic-settings<3.0.0,>=2.4.0->langchain_community) (1.0.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from requests<3,>=2->langchain_community) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from requests<3,>=2->langchain_community) (3.9)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from requests<3,>=2->langchain_community) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from requests<3,>=2->langchain_community) (2024.8.30)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from SQLAlchemy<3,>=1.4->langchain_community) (3.1.0)
Requirement already satisfied: anyio in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from httpx<1,>=0.23.0->langsmith<0.2.0,>=0.1.112->langchain_community) (4.4.0)
Requirement already satisfied: httpcore==1.* in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from httpx<1,>=0.23.0->langsmith<0.2.0,>=0.1.112->langchain_community) (1.0.5)
Requirement already satisfied: sniffio in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from httpx<1,>=0.23.0->langsmith<0.2.0,>=0.1.112->langchain_community) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from httpcore==1.*->httpx<1,>=0.23.0->langsmith<0.2.0,>=0.1.112->langchain_community) (0.14.0)
Requirement already satisfied: jsonpointer>=1.9 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from jsonpatch<2.0,>=1.33->langchain-core<0.4.0,>=0.3.0->langchain_community) (3.0.0)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from pydantic<3.0.0,>=2.7.4->langchain<0.4.0,>=0.3.0->langchain_community) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.3 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from pydantic<3.0.0,>=2.7.4->langchain<0.4.0,>=0.3.0->langchain_community) (2.23.3)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain_community) (1.0.0)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:
from langchain_community.llms import Ollama

In [17]:
llm = Ollama(model="llama2")
llm.invoke("The first man on the moon was ...")

'\nThe first man on the moon was Neil Armstrong. He stepped foot on the lunar surface on July 20, 1969, during the Apollo 11 mission. Armstrong famously declared "That\'s one small step for man, one giant leap for mankind" as he became the first person to walk on the moon.'

In [18]:
llm.invoke("Can you add an appropriate category next to each of the following expenses. Respond with a list of categories separated by commas. For example, Safaricom - Telecommunications, \
Naivas Supermarket - Retail, etc.: \
Uber Nairobi, Kenya Revenue Authority, Quickmart Kilimani, Java House Nairobi")

'\nCertainly! Here are the expenses you provided and their corresponding categories:\n\nUber Nairobi - Transportation\nKenya Revenue Authority - Government\nQuickmart Kilimani - Retail\nJava House Nairobi - Food and Beverage'

In [19]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\kaari\desktop\analyix\venv\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy>=1.26.0 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\kaari\desktop\analyix\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [20]:
import pandas as pd
df = pd.read_csv("transactions_2022_2023.csv")
df.head()

         Date        Name / Description Expense/Income  Amount (EUR)
0  2023-12-30           Belastingdienst        Expense          9.96
1  2023-12-30               Tesco Breda        Expense         17.53
2  2023-12-30   Monthly Appartment Rent        Expense        451.00
3  2023-12-30  Vishandel Sier Amsterdam        Expense         12.46
4  2023-12-29         Selling Paintings         Income         13.63

In [21]:
# Get unique transactions in the Name / Description column
unique_transactions = df["Name / Description"].unique()
len(unique_transactions)

23

In [22]:
unique_transactions[1:10]

array(['Tesco Breda', 'Monthly Appartment Rent',
       'Vishandel Sier Amsterdam', 'Selling Paintings',
       'Spotify Ab By Adyen', 'Tk Maxx Amsterdam Da', 'Consulting',
       'Aidsfonds', 'Tls Bv Inz Ov-Chipkaart'], dtype=object)

In [23]:
def hop(start, stop, step):
    for i in range(start, stop, step):
        yield i
    yield stop

index_list = list(hop(0, len(unique_transactions), 30))
index_list

[0, 23]

In [24]:
def categorize_transactions(transaction_names, llm):
    response = llm.invoke("Can you add an appropriate category to the following expenses. For example: Spotify AB by Adyen - Entertainment, Beta Boulders Ams Amsterdam Nld - Sport, etc.. Categories should be less than 4 words. " + transaction_names)
    response = response.split('\n')

    print(response)

    # Put in dataframe
    categories_df = pd.DataFrame({'Transaction vs category': response})
    categories_df[['Transaction', 'Category']] = categories_df['Transaction vs category'].str.split(' - ', expand=True)
    
    return categories_df

In [25]:
categorize_transactions('ISS Catering Services De Meern, Taxi Utrecht, Etos AMSTERDAM NLD, Bistro Bar Amsterdam',
                        llm)

['', 'Of course! Here are the categories for each expense:', '', '1. Spotify AB by Adyen - Entertainment', '2. Beta Boulders Ams Amsterdam Nld - Sport', '3. ISS Catering Services De Meern - Food & Beverage', '4. Taxi Utrecht - Transportation', '5. Etos AMSTERDAM NLD - Grocery', '6. Bistro Bar Amsterdam - Food & Beverage']

,Transaction vs category,Transaction,Category
0,,,None
1,Of course! Here are the categories for each ex...,Of course! Here are the categories for each ex...,None
2,,,None
3,1. Spotify AB by Adyen - Entertainment,1. Spotify AB by Adyen,Entertainment
4,2. Beta Boulders Ams Amsterdam Nld - Sport,2. Beta Boulders Ams Amsterdam Nld,Sport
5,3. ISS Catering Services De Meern - Food & Bev...,3. ISS Catering Services De Meern,Food & Beverage
6,4. Taxi Utrecht - Transportation,4. Taxi Utrecht,Transportation
7,5. Etos AMSTERDAM NLD - Grocery,5. Etos AMSTERDAM NLD,Grocery
8,6. Bistro Bar Amsterdam - Food & Beverage,6. Bistro Bar Amsterdam,Food & Beverage

In [26]:
# Intialise the categories_df_all dataframe
categories_df_all = pd.DataFrame()

# Loop through the index_list
for i in range(0, len(index_list)-1):
    transaction_names = unique_transactions[index_list[i]:index_list[i+1]]
    transaction_names = ','.join(transaction_names)

    categories_df = categorize_transactions(transaction_names, llm)
    categories_df_all = pd.concat([categories_df_all, categories_df], ignore_index=True)

['Sure! Here are the appropriate categories for each expense:', '', '1. Belastingdienst - Utilities', '2. Tesco Breda - Groceries', '3. Monthly Appartment Rent - Housing', '4. Vishandel Sier Amsterdam - Groceries', '5. Selling Paintings - Miscellaneous Income', '6. Spotify Ab By Adyen - Entertainment', '7. Tk Maxx Amsterdam Da - Shopping', '8. Consulting - Professional Services', '9. Aidsfonds - Donations', '10. TLS BV Inz Ov-Chipkaart - Transportation', '11. Etos Amsterdam - Groceries', '12. Beta Boulders Ams Amsterdam - Entertainment', '13. Salary - Income', '14. Bouldermuur Bv Amsterdam - Professional Services', '15. Birtat Restaurant Amsterdam - Dining Out', '16. Freelancing - Professional Services', '17. Tikkie - Miscellaneous Expenses', '18. Blogging - Miscellaneous Income', '19. Taxi Utrecht - Transportation', '20. Apple Services - Technology', '21. Amazon Lux - Shopping', '22. Classpass* Monthly - Fitness', '23. Audible Uk AdblCo/Pymt Gbr - Entertainment', '', 'I hope this helps! Let me know if you have any questions or need further assistance.']

In [27]:
categories_df_all

,Transaction vs category,Transaction,Category
0,Sure! Here are the appropriate categories for ...,Sure! Here are the appropriate categories for ...,None
1,,,None
2,1. Belastingdienst - Utilities,1. Belastingdienst,Utilities
3,2. Tesco Breda - Groceries,2. Tesco Breda,Groceries
4,3. Monthly Appartment Rent - Housing,3. Monthly Appartment Rent,Housing
5,4. Vishandel Sier Amsterdam - Groceries,4. Vishandel Sier Amsterdam,Groceries
6,5. Selling Paintings - Miscellaneous Income,5. Selling Paintings,Miscellaneous Income
7,6. Spotify Ab By Adyen - Entertainment,6. Spotify Ab By Adyen,Entertainment
8,7. Tk Maxx Amsterdam Da - Shopping,7. Tk Maxx Amsterdam Da,Shopping
9,8. Consulting - Professional Services,8. Consulting,Professional Services
10,9. Aidsfonds - Donations,9. Aidsfonds,Donations
11,10. TLS BV Inz Ov-Chipkaart - Transportation,10. TLS BV Inz Ov-Chipkaart,Transportation
12,11. Etos Amsterdam - Groceries,11. Etos Amsterdam,Groceries
13,12. Beta Boulders Ams Amsterdam - Entertainment,12. Beta Boulders Ams Amsterdam,Entertainment
14,13. Salary - Income,13. Salary,Income
15,14. Bouldermuur Bv Amsterdam - Professional Se...,14. Bouldermuur Bv Amsterdam,Professional Services
16,15. Birtat Restaurant Amsterdam - Dining Out,15. Birtat Restaurant Amsterdam,Dining Out
17,16. Freelancing - Professional Services,16. Freelancing,Professional Services
18,17. Tikkie - Miscellaneous Expenses,17. Tikkie,Miscellaneous Expenses
19,18. Blogging - Miscellaneous Income,18. Blogging,Miscellaneous Income
20,19. Taxi Utrecht - Transportation,19. Taxi Utrecht,Transportation
21,20. Apple Services - Technology,20. Apple Services,Technology
22,21. Amazon Lux - Shopping,21. Amazon Lux,Shopping
23,22. Classpass* Monthly - Fitness,22. Classpass* Monthly,Fitness
24,23. Audible Uk AdblCo/Pymt Gbr - Entertainment,23. Audible Uk AdblCo/Pymt Gbr,Entertainment
25,,,None
26,I hope this helps! Let me know if you have any...,I hope this helps! Let me know if you have any...,None

In [29]:
unique_categories = categories_df_all["Category"].unique()
unique_categories

array([None, 'Utilities', 'Groceries', 'Housing', 'Miscellaneous Income',
       'Entertainment', 'Shopping', 'Professional Services', 'Donations',
       'Transportation', 'Income', 'Dining Out', 'Miscellaneous Expenses',
       'Technology', 'Fitness'], dtype=object)

In [30]:
# Drop NA values
categories_df_all = categories_df_all.dropna()

# If category contains "Food", then categorise as "Food and Drinks"
categories_df_all.loc[categories_df_all['Category'].str.contains("Food"), 'Category'] = "Food and Drinks"
# If category contains "Clothing", then categorise as "Clothing"
categories_df_all.loc[categories_df_all['Category'].str.contains("Clothing"), 'Category'] = "Clothing"
# If category contains "Services", then categorise as "Services"
categories_df_all.loc[categories_df_all['Category'].str.contains("Services"), 'Category'] = "Services"
# If category contains "Health" or "Wellness", then categorise as "Health and Wellness"
categories_df_all.loc[categories_df_all['Category'].str.contains("Health|Wellness"), 'Category'] = "Health and Wellness"
# If category contains "Sport", then categorise as "Sport
#  and Fitness"
categories_df_all.loc[categories_df_all['Category'].str.contains("Sport"), 'Category'] = "Sport and Fitness"
# If category contains "Travel", then categorise as "Travel"
categories_df_all.loc[categories_df_all['Category'].str.contains("Travel"), 'Category'] = "Travel"

In [31]:
categories_df_all['Transaction'] = categories_df_all['Transaction'].str.replace(r'\d+\.\s+', '')
categories_df_all

C:\Users\Kaari\AppData\Local\Temp\ipykernel_12240\4040505057.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_df_all['Transaction'] = categories_df_all['Transaction'].str.replace(r'\d+\.\s+', '')

,Transaction vs category,Transaction,Category
2,1. Belastingdienst - Utilities,1. Belastingdienst,Utilities
3,2. Tesco Breda - Groceries,2. Tesco Breda,Groceries
4,3. Monthly Appartment Rent - Housing,3. Monthly Appartment Rent,Housing
5,4. Vishandel Sier Amsterdam - Groceries,4. Vishandel Sier Amsterdam,Groceries
6,5. Selling Paintings - Miscellaneous Income,5. Selling Paintings,Miscellaneous Income
7,6. Spotify Ab By Adyen - Entertainment,6. Spotify Ab By Adyen,Entertainment
8,7. Tk Maxx Amsterdam Da - Shopping,7. Tk Maxx Amsterdam Da,Shopping
9,8. Consulting - Professional Services,8. Consulting,Services
10,9. Aidsfonds - Donations,9. Aidsfonds,Donations
11,10. TLS BV Inz Ov-Chipkaart - Transportation,10. TLS BV Inz Ov-Chipkaart,Transportation
12,11. Etos Amsterdam - Groceries,11. Etos Amsterdam,Groceries
13,12. Beta Boulders Ams Amsterdam - Entertainment,12. Beta Boulders Ams Amsterdam,Entertainment
14,13. Salary - Income,13. Salary,Income
15,14. Bouldermuur Bv Amsterdam - Professional Se...,14. Bouldermuur Bv Amsterdam,Services
16,15. Birtat Restaurant Amsterdam - Dining Out,15. Birtat Restaurant Amsterdam,Dining Out
17,16. Freelancing - Professional Services,16. Freelancing,Services
18,17. Tikkie - Miscellaneous Expenses,17. Tikkie,Miscellaneous Expenses
19,18. Blogging - Miscellaneous Income,18. Blogging,Miscellaneous Income
20,19. Taxi Utrecht - Transportation,19. Taxi Utrecht,Transportation
21,20. Apple Services - Technology,20. Apple Services,Technology
22,21. Amazon Lux - Shopping,21. Amazon Lux,Shopping
23,22. Classpass* Monthly - Fitness,22. Classpass* Monthly,Fitness
24,23. Audible Uk AdblCo/Pymt Gbr - Entertainment,23. Audible Uk AdblCo/Pymt Gbr,Entertainment

In [32]:
# Merge the categories_df_all with the transactions_2022_2023.csv dataframe (df)
df = pd.read_csv("transactions_2022_2023.csv")
df.loc[df['Name / Description'].str.contains("Spotify"), 'Name / Description'] = "Spotify Ab By Adyen"
df = pd.merge(df, categories_df_all, left_on='Name / Description', right_on='Transaction', how='left')
df

,Date,Name / Description,Expense/Income,Amount (EUR),Transaction vs category,Transaction,Category
0,2023-12-30,Belastingdienst,Expense,9.96,NaN,NaN,NaN
1,2023-12-30,Tesco Breda,Expense,17.53,NaN,NaN,NaN
2,2023-12-30,Monthly Appartment Rent,Expense,451.00,NaN,NaN,NaN
3,2023-12-30,Vishandel Sier Amsterdam,Expense,12.46,NaN,NaN,NaN
4,2023-12-29,Selling Paintings,Income,13.63,NaN,NaN,NaN
5,2023-12-29,Spotify Ab By Adyen,Expense,12.19,NaN,NaN,NaN
6,2023-12-23,Tk Maxx Amsterdam Da,Expense,27.08,NaN,NaN,NaN
7,2023-12-22,Consulting,Income,541.57,NaN,NaN,NaN
8,2023-12-22,Aidsfonds,Expense,10.70,NaN,NaN,NaN
9,2023-12-20,Consulting,Income,2641.93,NaN,NaN,NaN
10,2023-12-19,Tls Bv Inz Ov-Chipkaart,Expense,18.90,NaN,NaN,NaN
11,2023-12-18,Etos Amsterdam,Expense,17.67,NaN,NaN,NaN
12,2023-12-18,Tesco Breda,Expense,8.81,NaN,NaN,NaN
13,2023-12-18,Beta Boulders Ams Amsterdam,Expense,6.94,NaN,NaN,NaN
14,2022-11-26,Salary,Income,14.36,NaN,NaN,NaN
15,2022-11-26,Bouldermuur Bv Amsterdam,Expense,19.27,NaN,NaN,NaN
16,2022-11-26,Birtat Restaurant Amsterdam,Expense,24.71,NaN,NaN,NaN
17,2022-11-25,Tesco Breda,Expense,17.35,NaN,NaN,NaN
18,2022-11-24,Freelancing,Income,2409.55,NaN,NaN,NaN
19,2022-11-19,Tikkie,Expense,20.76,NaN,NaN,NaN
20,2022-10-25,Blogging,Income,4044.27,NaN,NaN,NaN
21,2022-10-24,Taxi Utrecht,Expense,18.90,NaN,NaN,NaN
22,2022-10-23,Tesco Breda,Expense,27.54,NaN,NaN,NaN
23,2022-10-22,Apple Services,Expense,41.25,NaN,NaN,NaN
24,2022-10-21,Tesco Breda,Expense,22.80,NaN,NaN,NaN
25,2022-01-16,Amazon Lux,Expense,24.11,NaN,NaN,NaN
26,2022-01-15,Classpass* Monthly,Expense,30.08,NaN,NaN,NaN
27,2022-01-14,Audible Uk AdblCo/Pymt Gbr,Expense,11.00,NaN,NaN,NaN

In [33]:
df.to_csv("transactions_2022_2023_categorized.csv", index=False)